In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('practice').getOrCreate()
spark

In [3]:
df = spark.read.csv('../data/friends.csv',inferSchema=True, header=True)
df.show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|   sanket|  23|     m|         1|  NULL|
|    viraj|  25|     m|         2|  NULL|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

In [4]:
type(df)

pyspark.sql.dataframe.DataFrame

In [5]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
df.columns

['name', 'age', 'gender', 'experience', 'salary']

In [7]:
df.show(1)

+------+---+------+----------+------+
|  name|age|gender|experience|salary|
+------+---+------+----------+------+
|aditya| 26|     m|         4| 50000|
+------+---+------+----------+------+
only showing top 1 row

In [8]:
df.select('name','salary').show(1)

+------+------+
|  name|salary|
+------+------+
|aditya| 50000|
+------+------+
only showing top 1 row

In [9]:
df.describe().show()

+-------+------+------------------+------+------------------+------------------+
|summary|  name|               age|gender|        experience|            salary|
+-------+------+------------------+------+------------------+------------------+
|  count|    10|                 8|    10|                 9|                 8|
|   mean|  NULL|             24.75|  NULL|2.5555555555555554|           36000.0|
| stddev|  NULL|1.5811388300841898|  NULL|1.2360330811826103|10596.495377515826|
|    min|aditya|                22|     f|                 1|             23000|
|    max| viraj|                27|     m|                 4|             50000|
+-------+------+------------------+------+------------------+------------------+

In [10]:
df.withColumn('experience_after_years',df['experience']+2).show()

+---------+----+------+----------+------+----------------------+
|     name| age|gender|experience|salary|experience_after_years|
+---------+----+------+----------+------+----------------------+
|   aditya|  26|     m|         4| 50000|                     6|
|  nainesh|  25|     m|         3| 40000|                     5|
|    nitin|  25|     m|         2| 45000|                     4|
|   snehal|NULL|     f|         1| 25000|                     3|
|samruddhi|  25|     f|      NULL| 45000|                  NULL|
|  prajwal|  27|     m|         4| 35000|                     6|
|   sanket|  23|     m|         1|  NULL|                     3|
|    viraj|  25|     m|         2|  NULL|                     4|
|     amol|  22|     m|         2| 25000|                     4|
|   ashish|NULL|     m|         4| 23000|                     6|
+---------+----+------+----------+------+----------------------+

In [11]:
df.show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|   sanket|  23|     m|         1|  NULL|
|    viraj|  25|     m|         2|  NULL|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

In [12]:
# rename the colmnn
df.withColumnRenamed('experience','work_experience').show()

+---------+----+------+---------------+------+
|     name| age|gender|work_experience|salary|
+---------+----+------+---------------+------+
|   aditya|  26|     m|              4| 50000|
|  nainesh|  25|     m|              3| 40000|
|    nitin|  25|     m|              2| 45000|
|   snehal|NULL|     f|              1| 25000|
|samruddhi|  25|     f|           NULL| 45000|
|  prajwal|  27|     m|              4| 35000|
|   sanket|  23|     m|              1|  NULL|
|    viraj|  25|     m|              2|  NULL|
|     amol|  22|     m|              2| 25000|
|   ashish|NULL|     m|              4| 23000|
+---------+----+------+---------------+------+

In [13]:
df.na.drop(how='any').show()

+-------+---+------+----------+------+
|   name|age|gender|experience|salary|
+-------+---+------+----------+------+
| aditya| 26|     m|         4| 50000|
|nainesh| 25|     m|         3| 40000|
|  nitin| 25|     m|         2| 45000|
|prajwal| 27|     m|         4| 35000|
|   amol| 22|     m|         2| 25000|
+-------+---+------+----------+------+

In [14]:
# subset
df.na.drop(how='any',subset=['salary']).show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

In [15]:
df.show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|   sanket|  23|     m|         1|  NULL|
|    viraj|  25|     m|         2|  NULL|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

In [16]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [17]:
# fill the missing values
df.na.fill('missing_value').show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|   sanket|  23|     m|         1|  NULL|
|    viraj|  25|     m|         2|  NULL|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

In [18]:
# imputer function
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['age','experience','salary'],
    outputCols=["{}_imputed".format(i) for i in ['age','experience','salary']] 
).setStrategy('mean')

In [19]:
imputer.fit(df).transform(df).show()

+---------+----+------+----------+------+-----------+------------------+--------------+
|     name| age|gender|experience|salary|age_imputed|experience_imputed|salary_imputed|
+---------+----+------+----------+------+-----------+------------------+--------------+
|   aditya|  26|     m|         4| 50000|         26|                 4|         50000|
|  nainesh|  25|     m|         3| 40000|         25|                 3|         40000|
|    nitin|  25|     m|         2| 45000|         25|                 2|         45000|
|   snehal|NULL|     f|         1| 25000|         24|                 1|         25000|
|samruddhi|  25|     f|      NULL| 45000|         25|                 2|         45000|
|  prajwal|  27|     m|         4| 35000|         27|                 4|         35000|
|   sanket|  23|     m|         1|  NULL|         23|                 1|         36000|
|    viraj|  25|     m|         2|  NULL|         25|                 2|         36000|
|     amol|  22|     m|         2| 25000|         22|                 2|         25000|
|   ashish|NULL|     m|         4| 23000|         24|                 4|         23000|
+---------+----+------+----------+------+-----------+------------------+--------------+

In [20]:
df.show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|   sanket|  23|     m|         1|  NULL|
|    viraj|  25|     m|         2|  NULL|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

# filter operations

In [21]:
# people with salary < 30000 

df.filter('salary < 30000').select(['name','age']).show()

+------+----+
|  name| age|
+------+----+
|snehal|NULL|
|  amol|  22|
|ashish|NULL|
+------+----+

In [22]:
df.filter((df['salary']>30000) |
           (df['salary']<=40000)).show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

In [25]:
df.show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|   sanket|  23|     m|         1|  NULL|
|    viraj|  25|     m|         2|  NULL|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+

In [26]:
df.show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|         2| 45000|
|   snehal|NULL|     f|         1| 25000|
|samruddhi|  25|     f|      NULL| 45000|
|  prajwal|  27|     m|         4| 35000|
|   sanket|  23|     m|         1|  NULL|
|    viraj|  25|     m|         2|  NULL|
|     amol|  22|     m|         2| 25000|
|   ashish|NULL|     m|         4| 23000|
+---------+----+------+----------+------+