In [52]:
import pyspark
import pandas as pd

In [53]:
pd.read_csv('../data/test.csv')

      name  age  experience            skill
0  nainesh   25           3     data science
1    nitin   25           3  web development
2   aditya   26           4     architecture
3   snehal   24           1     architecture

In [54]:
from pyspark.sql import SparkSession

In [55]:
spark = SparkSession.builder.appName('fcctest').getOrCreate()

In [56]:
spark

In [57]:
df_ps1 = spark.read.csv('../data/test.csv')
df_ps1.show()
# to fix this issue of c0 and c1 getting as headers >>

+-------+---+----------+---------------+
|    _c0|_c1|       _c2|            _c3|
+-------+---+----------+---------------+
|   name|age|experience|          skill|
|nainesh| 25|         3|   data science|
|  nitin| 25|         3|web development|
| aditya| 26|         4|   architecture|
| snehal| 24|         1|   architecture|
+-------+---+----------+---------------+

In [58]:
df_ps2 = spark.read.option('header','True').csv('../data/test.csv')
df_ps2.show()

+-------+---+----------+---------------+
|   name|age|experience|          skill|
+-------+---+----------+---------------+
|nainesh| 25|         3|   data science|
|  nitin| 25|         3|web development|
| aditya| 26|         4|   architecture|
| snehal| 24|         1|   architecture|
+-------+---+----------+---------------+

In [59]:
type(df_ps2)

pyspark.sql.dataframe.DataFrame

In [60]:
df_ps2.head(4)

[Row(name='nainesh', age='25', experience='3', skill='data science'),
 Row(name='nitin', age='25', experience='3', skill='web development'),
 Row(name='aditya', age='26', experience='4', skill='architecture'),
 Row(name='snehal', age='24', experience='1', skill='architecture')]

In [61]:
df_ps2.printSchema