In [1]:
    import pandas as pd
import pyspark

In [2]:
pd.read_csv('../data/test.csv')

      name  age  experience            skill
0  nainesh   25           3     data science
1    nitin   25           3  web development
2   aditya   26           4     architecture
3   snehal   24           1     architecture

In [3]:
from pyspark.sql import SparkSession

In [4]:
#creating the session
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [5]:
spark

In [6]:
#read the dataset
df_ps2 = spark.read.option('header','true').csv('../data/test.csv')#,inferSchema=True)
df_ps2.show()

+-------+---+----------+---------------+
|   name|age|experience|          skill|
+-------+---+----------+---------------+
|nainesh| 25|         3|   data science|
|  nitin| 25|         3|web development|
| aditya| 26|         4|   architecture|
| snehal| 24|         1|   architecture|
+-------+---+----------+---------------+

In [7]:
# check the schema
df_ps2.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)
 |-- skill: string (nullable = true)

## By default this is taking string as dtype
- to avoid this we have to add  csv(,inferschema=True) while reading option

In [8]:
type(df_ps2)

pyspark.sql.dataframe.DataFrame

In [9]:
df_ps2.select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
|nainesh| 25|
|  nitin| 25|
| aditya| 26|
| snehal| 24|
+-------+---+

In [10]:
df_ps2['name']

Column<'name'>

In [11]:
df_ps2.dtypes

[('name', 'string'),
 ('age', 'string'),
 ('experience', 'string'),
 ('skill', 'string')]

In [12]:
df_ps2.describe().show()

+-------+------+------------------+------------------+---------------+
|summary|  name|               age|        experience|          skill|
+-------+------+------------------+------------------+---------------+
|  count|     4|                 4|                 4|              4|
|   mean|  null|              25.0|              2.75|           null|
| stddev|  null|0.8164965809277256|1.2583057392117918|           null|
|    min|aditya|                24|                 1|   architecture|
|    max|snehal|                26|                 4|web development|
+-------+------+------------------+------------------+---------------+

In [13]:
# add column in the dataframe
df_ps3 = df_ps2.withColumn('experience after 2 years',df_ps2['Experience']+2)
df_ps3.show()

+-------+---+----------+---------------+------------------------+
|   name|age|experience|          skill|experience after 2 years|
+-------+---+----------+---------------+------------------------+
|nainesh| 25|         3|   data science|                     5.0|
|  nitin| 25|         3|web development|                     5.0|
| aditya| 26|         4|   architecture|                     6.0|
| snehal| 24|         1|   architecture|                     3.0|
+-------+---+----------+---------------+------------------------+

In [14]:
df_ps2 = df_ps3.drop('experience after 2 years')
df_ps2.show()

+-------+---+----------+---------------+
|   name|age|experience|          skill|
+-------+---+----------+---------------+
|nainesh| 25|         3|   data science|
|  nitin| 25|         3|web development|
| aditya| 26|         4|   architecture|
| snehal| 24|         1|   architecture|
+-------+---+----------+---------------+

In [16]:
 df_ps3['name']

Column<'name'>

In [17]:
df_ps3.describe().show()

+-------+------+------------------+------------------+---------------+------------------------+
|summary|  name|               age|        experience|          skill|experience after 2 years|
+-------+------+------------------+------------------+---------------+------------------------+
|  count|     4|                 4|                 4|              4|                       4|
|   mean|  null|              25.0|              2.75|           null|                    4.75|
| stddev|  null|0.8164965809277256|1.2583057392117918|           null|      1.2583057392117916|
|    min|aditya|                24|                 1|   architecture|                     3.0|
|    max|snehal|                26|                 4|web development|                     6.0|
+-------+------+------------------+------------------+---------------+------------------------+