In [13]:
from pyspark.sql import SparkSession

In [14]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()
spark

In [15]:
df0 = spark.read.csv('../data/test1.csv',header=True,inferSchema=True)
df0.show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|   aditya|  26|         4| 50000|
|  nainesh|  25|         3| 40000|
|    nitin|  25|      null| 45000|
|   snehal|  24|         1| 25000|
|samruddhi|  25|         2|  null|
|  prajwal|  27|         4| 35000|
|   sanket|null|         1| 20000|
|    viraj|  25|         2| 37000|
|     null|  22|      null| 10000|
|   ashish|null|         4|  null|
+---------+----+----------+------+

In [16]:
# df0 = df0.na.drop(how='any').show()
# df0

## **filter operations**

In [17]:
## salary of people <= 20000
df0.filter("salary<=20000").show()

+------+----+----------+------+
|  name| age|experience|salary|
+------+----+----------+------+
|sanket|null|         1| 20000|
|  null|  22|      null| 10000|
+------+----+----------+------+

In [19]:
df0.filter('salary>=20000').select('name','salary','age','gender').show()

AnalysisException: Column 'gender' does not exist. Did you mean one of the following? [age, name, salary, experience];
'Project [name#180, salary#183, age#181, 'gender]
+- Filter (salary#183 >= 20000)
   +- Relation [name#180,age#181,experience#182,salary#183] csv