In [8]:
from pymongo import MongoClient
import pandas as pd

In [9]:
client = MongoClient('localhost',27017)
db=client['nainesh']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'nainesh')

In [10]:
collection  = db.nainesh
df = pd.DataFrame(list(collection.find({},{'_id':0})))
df.head()

               name grade
0  nainesh_khanjire     A