In [24]:
from pyspark.sql import SparkSession

In [25]:
spark = SparkSession.builder.appName('aggregate').getOrCreate()

In [26]:
spark

In [27]:
df_ps= spark.read.csv('../data/groupby.csv',header=True,inferSchema=True)
df_ps.show()

+---------+------------+------+
|     name| departments|salary|
+---------+------------+------+
|   pankaj|data analyst| 34000|
|  nainesh|data analyst| 40000|
| nachiket|data analyst| 50000|
|    nitin|     web dev| 50000|
|   aditya|   architect| 35000|
|samruddhi|   architect| 60000|
|  sourabh|   architect| 67000|
|   snehal|   architect| 20000|
|   viraj |software dev| 32000|
|  prajwal|software dev| 50000|
|   sanket|    engineer| 34000|
+---------+------------+------+

In [28]:
df_ps.printSchema()

root
 |-- name: string (nullable = true)
 |-- departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [29]:
# group by function

df_ps.groupBy('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|  prajwal|      50000|
|  sourabh|      67000|
|   snehal|      20000|
| nachiket|      50000|
|    nitin|      50000|
|   pankaj|      34000|
|samruddhi|      60000|
|   sanket|      34000|
|   viraj |      32000|
|  nainesh|      40000|
|   aditya|      35000|
+---------+-----------+

In [32]:
# this gives total sum of salary for each department
df_ps.groupBy('departments').sum().show()

+------------+-----------+
| departments|sum(salary)|
+------------+-----------+
|data analyst|     124000|
|software dev|      82000|
|   architect|     182000|
|     web dev|      50000|
|    engineer|      34000|
+------------+-----------+

In [35]:
# find mean of all salaries

df_ps.groupBy('departments').mean().show()

+------------+------------------+
| departments|       avg(salary)|
+------------+------------------+
|data analyst|41333.333333333336|
|software dev|           41000.0|
|   architect|           45500.0|
|     web dev|           50000.0|
|    engineer|           34000.0|
+------------+------------------+

In [38]:
# Total employees

df_ps.groupBy('departments').count().show()

+------------+-----+
| departments|count|
+------------+-----+
|data analyst|    3|
|software dev|    2|
|   architect|    4|
|     web dev|    1|
|    engineer|    1|
+------------+-----+

In [42]:
# total expenditure
df_ps.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     472000|
+-----------+

In [45]:
# max salary in each department
df_ps.groupBy('departments').max().show()

+------------+-----------+
| departments|max(salary)|
+------------+-----------+
|data analyst|      50000|
|software dev|      50000|
|   architect|      67000|
|     web dev|      50000|
|    engineer|      34000|
+------------+-----------+