In [11]:
import pyspark
import pandas as pd

In [15]:
df = pd.read_csv('../data/test.csv')
df

      name  age  experience            skill
0  nainesh   25           3     data science
1    nitin   25           3  web development
2   aditya   26           4     architecture
3   snehal   24           1     architecture

In [16]:
from pyspark.sql import SparkSession

In [19]:
spark = SparkSession.builder.appName('fcctest1').getOrCreate()
spark