In [21]:
from pyspark.sql import SparkSession

In [22]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()
spark

In [23]:
df0 = spark.read.csv('../data/friends.csv',header=True,inferSchema=True)
df0.show()

+---------+----+------+----------+------+
|     name| age|gender|experience|salary|
+---------+----+------+----------+------+
|   aditya|  26|     m|         4| 50000|
|  nainesh|  25|     m|         3| 40000|
|    nitin|  25|     m|      null| 45000|
|   snehal|  24|     f|         1| 25000|
|samruddhi|  25|     f|         2|  null|
|  prajwal|  27|     m|         4| 35000|
|   sanket|null|     m|         1| 20000|
|    viraj|  25|     m|         2| 37000|
|     null|  22|     f|      null| 10000|
|   ashish|null|     m|         4|  null|
+---------+----+------+----------+------+

In [24]:
# df0 = df0.na.drop(how='any').show()
# df0

## **filter operations**

In [25]:
## salary of people <= 20000
df0.filter("salary<=20000").show()

+------+----+------+----------+------+
|  name| age|gender|experience|salary|
+------+----+------+----------+------+
|sanket|null|     m|         1| 20000|
|  null|  22|     f|      null| 10000|
+------+----+------+----------+------+

In [26]:
df0.filter('salary>=20000').select('name','salary','age','gender').show()

+-------+------+----+------+
|   name|salary| age|gender|
+-------+------+----+------+
| aditya| 50000|  26|     m|
|nainesh| 40000|  25|     m|
|  nitin| 45000|  25|     m|
| snehal| 25000|  24|     f|
|prajwal| 35000|  27|     m|
| sanket| 20000|null|     m|
|  viraj| 37000|  25|     m|
+-------+------+----+------+

In [29]:
df0.filter((df0['salary']>=15000)& (df0['gender']=='m')).show()

+-------+----+------+----------+------+
|   name| age|gender|experience|salary|
+-------+----+------+----------+------+
| aditya|  26|     m|         4| 50000|
|nainesh|  25|     m|         3| 40000|
|  nitin|  25|     m|      null| 45000|
|prajwal|  27|     m|         4| 35000|
| sanket|null|     m|         1| 20000|
|  viraj|  25|     m|         2| 37000|
+-------+----+------+----------+------+