In [4]:
from pymongo import MongoClient
import pandas as pd

In [5]:
client = MongoClient('localhost',27017)
db=client['nainesh']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'nainesh')

In [6]:
collection  = db.nainesh
df = pd.DataFrame(list(collection.find({},{'_id':0})))
df.head()

               name grade
0  nainesh_khanjire     A
1       nitin patil     A
2       snehal hale     F
3       aditya mane     A